<!DOCTYPE html> 
<html> 
    <head>
        <title>GalaxySim | Dashboard</title>
        <link rel="icon" href="./assets/galaxy-icon-png-8.png">

        <%- include partials/default_includes.ejs %>

        <link rel="stylesheet" type="text/css" media="screen" href="./css/dashboard.css" />
        <script src="./js/dashboard.js"></script>

    </head>
<body>
    <%- include partials/nav.ejs %>

</body>
</html>
