@media only screen and (max-width: 926px) {
    .z-font{
        font-size: 5em;
    }
    .i-font{
        font-size: 3em;
    }
  }

  @media only screen and (max-width: 664px) {
    .z-font{
        font-size: 4em;
    }
    .i-font{
        font-size: 3em;
        padding-top:10px;
    }
  }

  @media only screen and (max-width: 450px) {
    .z-font{
        font-size: 3em;
    }
    .i-font{
        font-size: 2em;
        padding-top:10px;
    }
  }