<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h1 class="is-size-4">GalaxySim</h1>
          </a>
      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
      
            <a class="navbar-item" href="/about">
                About
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Game
                </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    Ship
                  </a>
                  <a class="navbar-item">
                    Colonies
                  </a>
                  <a class="navbar-item">
                    Map
                  </a>
                  <a class="navbar-item">
                    Alliance
                  </a>
                </div>
              </div>

          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-light" href="/auth/logout">
                  Logout
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      